<div class="list_frame">
  <% @wishes.each do |wish| %>
    <div class="content_post">
      <div class="dates">
        <i class="far fa-clock"></i>
        <span class="date">
          <%= l wish.created_at %>
        </span>
      </div>
      <p class="text">
        <i class="far fa-lightbulb fa-2x"></i>
        <%= wish.title %>
      </p>
      <% if wish.state.id == 4 %>
        <span class="state_mark"><i class="fas fa-medal">.</i><%= wish.state.name %></span>
      <% else %>
        <span class="state_marks"><%= wish.state.name %></span>
      <% end %>
      <span class="name">
        <a href="/users/<%= wish.user.id %>">
          <span>投稿者：<%= wish.user.nickname %> さん</span>
        </a>
      </span>
      <% if wish.image.present? %>
        <span><i class="fas fa-camera"></i></span>
      <% end %>
      <div id="likes_buttons_<%= wish.id %>">
        <%= render partial: 'likes/like', locals: {wish: wish} %>
      </div>
      <%= render partial: "wishes/button", locals: { wish: wish} %>
    </div>
    <hr>
  <% end %>
</div>