<% if user_signed_in? %>
  <div class="contents_row">
    <div class="slideshow-container">
      <h2>What do you wanna do?</h2>
        <img class="slide_image" src="images/cia.jpg" id="pics">
      <h2 id="pic-title">Enjoy your life!</h2>
      <button class="button_ja" id="playButton" onclick="playSlideshow();">PLAY</button>
    </div>

    <ul class="follow_link">
      <li class="btn-circle-fishy"><%= link_to "ランキング", likes_path %></li>
      <li><button class="btn-circle-fishy" id="js-show-popup">魔法</button>
        <div class="popup" id="js-popup">
          <div class="popup-inner">
            <div class="close-btn" id="js-close-btn"><i class="fas fa-times"></i></div>
            <a href="https://www.shuzo.co.jp/" target="_blank">時は金ちなりくん。<br>大丈夫。自分を信じて！文字をクリックして＾＾</a>
          </div>
          <div class="black-background" id="js-black-bg"></div>
        </div>
      </li>
    </ul>

    <div class="my_top">
      <p><b>BUCKET LISTS</b></p>
    </div>
    <%= render partial: "search", locals: { q: @q} %>
    <%= paginate @wishes %>
    <%= render partial: "listall", locals: { wish: @wishes} %>
  </div>
<% else %>
  <div class="pic_posi">
    <%= image_tag "presenttop.jpg", class: "top_pic" %>
    <p>あなたの <span class="font_strong">BUCKET LIST </span>
      <br>共有しませんか？
      <br>描ける空間、<span class="font_strong">自分色の人生を。</span>
    </p>
  </div>
<% end %>