<div class="contents_row">
  <div class="content_post">
    <p class="text"><%= @wish.title %></p>
      <span class="name">
        <a href="/users/<%= @wish.user.id %>">
          <span>投稿者：<%= @wish.user.nickname %> さん</span>
        </a>
      </span>
    <p>
      <%= link_to '詳細', wish_path(@wish.id), method: :get, class:"btn-flat-border" %>
      <%= link_to '編集', edit_wish_path(@wish.id), method: :get, class:"btn-flat-border" %>
      <%= link_to '削除', wish_path(@wish.id), method: :delete, class:"btn-flat-border" %>
    </p>
  </div>
</div>