<div class="contents_row">
  <div class="my_top">
    <p><b>BUCKET LIST</b> 詳細</p>
  </div>
  <div class="list_frame">
    <div class="content_post">
      <div class="dates">
        <i class="far fa-clock"></i>
        <span class="date">
          <%= l @wish.created_at %>
        </span>
      </div>
      <p class="text">
        <i class="far fa-lightbulb fa-2x"></i>
        <%= @wish.title %>
      </p>
      <div><%= image_tag @wish.image.variant(resize: '400x400'), class: 'wish_image' if @wish.image.attached? %></div>
      <span class="state_mark"><%= @wish.state.name %></span>
      <span class="name">
        <a href="/users/<%= @wish.user.id %>">
          <span>投稿者：<%= @wish.user.nickname %> さん</span>
        </a>
      </span>
      <div id="likes_buttons_<%= @wish.id %>">
        <%= render partial: 'likes/like', locals: {wish: @wish} %>
      </div>
      <p>
        <% if user_signed_in? && current_user.id == @wish.user_id %>
          <%= link_to '編集', edit_wish_path(@wish.id), method: :get, class:"btn-flat-border" %>
          <%= link_to '削除', wish_path(@wish.id), method: :delete, class:"btn-flat-border" %>
          <%= link_to '戻る', wishes_path, class:"btn-flat-border" %>
        <% end %>
      </p>
    </div>
    <hr>
    <div class="comments">
      <%= form_with model: [@wish, @comment], local: true do |f| %>
        <div class="field">
          <%= f.label :text, "「コメント」", class: "state_markkk" %><br />
          <%= render 'shared/error_messages', model: f.object %>
          <%= f.text_field :text, id:"comment_text", class: "title_text" %>
        </div>
        <input type="submit" value="送信する" class="button">
        <% if @comments.present? %>
          <ul class="paper">
            <% @comments.each do |comment| %>
              <li class="old_lists">
                <%= comment.text %>
                <span> : by </span>
                <%= link_to comment.user.nickname, "/users/#{comment.user.id}" %>
                <% if user_signed_in? && current_user.id == comment.user_id %>
                  <span class="delete_set">
                    <i class="fas fa-trash-alt"></i>
                    <%= link_to '削除', comment_path(comment.id) ,method: :delete %>
                  </span>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    </div>
  </div>
</div>