<div>
  <a href="/users/<%= current_user.id %>"><span class="btn-flat-border">戻る</span></a>
</div>
<div class="list_frame">
  <table>
  <% if @users.exists? %>
    <thead>
      <tr>
        <th>name</th><th>フォロー数</th><th>フォロワー数</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><a href="/users/<%= user.id %>"><%= user.nickname %></a>さん</td>
          <td><%= user.followings.count %>人</td>
          <td><%= user.followers.count %>人</td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
    <p>ユーザーはいません</p>
  <% end %>
</div>