<div class="contents_row">
  <div class="container">
    <div class="my_top">
      <p>プロフィール編集</p>
    </div>
    <%= form_with model: [@user], local: true do |f| %>
    <div class="list_frame">
      <%= f.label :nickname, "ユーザー名", class: "state_markkk" %><br>
      <%= f.text_field :nickname, class: "title_text_small" %><br>
      <%= f.label :introduction, "自己紹介", class: "state_markkk" %><br>
      <%= f.text_area :introduction, class: "title_text_area" %><br>
      <%= f.label :email, "メールアドレス", class: "state_markkk" %><br>
      <%= f.text_field :email, class: "title_text" %><br>
      <input type="submit" value="送信する" class="button">
    </div>
    <% end %>
  </div>
</div>