<% if user_signed_in? && current_user.id == @user.id %>
  <ul class="follow_link">
    <li class="btn-circle-fishy"><%= link_to "フォロー", user_followings_path(@user.id) %></li>
    <li class="btn-circle-fishy"><%= link_to "フォロワー", user_followers_path(@user.id) %></li>
    <li class="btn-circle-fishy"><%= link_to "プロフ編集", edit_user_path(@user.id) %></li>
  </ul>
<% else %>
  <% if current_user.following?(@user) %>
    <div class="follow_button"><%= link_to "Unfollow", user_relationships_path(@user.id), method: :delete, class: "btn-circle-fishy" %></div>
  <% else %>
    <div class="follow_button"><%= link_to "Follow", user_relationships_path(@user.id), method: :post, class: "btn-circle-fishy" %></div>
  <% end %>
<% end %>

<div class="contents_row">
  <div class="my_top">
    <p class="special" onclick="showBallon()"><%= @nickname %>さんの BUCKET LIST
      <span class="balloon1" id="makeImg"><%= @user.introduction %></span>
    </p>
  </div>
  <%= render partial: "wishes/listall", locals: { wish: @wishes} %>
</div>
