<!DOCTYPE html>
<html>
  <head>
    <title>WishList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" rel="stylesheet">
  </head>

  <body>
    <header class="header">
      <div class="header__bar row">
        <h1><a href="/">I WANNA eat SALMON</a></h1>
      </div>
      <% if user_signed_in? %>
      <div class="user_post">
        <ul class="menue">
          <li class="btn-circle-fishy"><%= link_to "マイページ", user_path(current_user.id) %></li>
          <li class="btn-circle-fishy"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          <li class="btn-circle-fishy"><%= link_to "投稿する", new_wish_path %></li>
          <li><button class="btn-circle-fishy" id="js-show-popup-sis">Q&A</button>
            <div class="popup" id="js-popup-sis">
            <div class="popup-inner">
              <div class="close-btn" id="js-close-btn-sis"><i class="fas fa-times"></i></div>
              Q.want/soon/doneって何ですか？<br>
              　A.バケットリストの状態です。基本的にはwant、達成する予定日が決まったらsoon、達成したらdoneです。随時、編集で切り替えましょう。<br><br>
              Q.投稿者の名前の横にあるマークは何ですか？<br>
              　A.　<i class="fas fa-camera"></i>と<i class="far fa-bell"></i>の2種類があります。<i class="fas fa-camera"></i>は写真の添付の有無を示します。
              <i class="far fa-bell"></i>は未達成のバケットリストの達成目標日が残り1ヶ月を切ると表示されます。<br><br>
              Q.検索ワードを入力しても検索結果が表示されません。<br>
              　A.こちらはバケットリストの状態と連動しています。検索ワードと一緒にwant/soon/doneを選択してみましょう。
              </div>
            </div>
          </li>
        </ul>
      </div>
      <% else %>
        <div class="user_post">
          <ul class="menue">
            <li class="btn-circle-fishy"><%= link_to "ログイン", new_user_session_path %></li>
            <li class="btn-circle-fishy"><%= link_to "新規登録", new_user_registration_path %></li>
          </ul>
        </div>
      <% end %>
    </header>
    <%= yield %>
    <footer>
      <hr>
      <p>
        Copyright I WANNA eat SALMON 2021.
      </p>
    </footer>
  </body>
</html>
