<!DOCTYPE html>
<html>
  <head>
    <title>WishList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>

  <body>
    <header class="header">
      <div class="header__bar row">
        <h1 class="top_title"><a href="/">I WANNA eat SALMON</a></h1>
      </div>
      <% if user_signed_in? %>
      <div class="user_post">
        <%= link_to "マイページ", user_path(current_user.id), class: "btn-circle-fishy" %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn-circle-fishy" %>
        <%= link_to "投稿する", new_wish_path, class: "btn-circle-fishy" %>
      </div>
      <% else %>
        <div class="user_post">
          <%= link_to "ログイン", new_user_session_path, class: "btn-circle-fishy" %>
          <%= link_to "新規登録", new_user_registration_path, class: "btn-circle-fishy" %>
        </div>
      <% end %>
    </header>
    <%= yield %>
    <footer>
      <hr>
      <p>
        Copyright I wanna eat SALMON 2021.
      </p>
    </footer>
  </body>
</html>
